---
import "./style.css"
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Two Factor Verification</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins"/>
  <link rel="icon" href="https://cdn.prestonkwei.com/personalwebsitefavicon.png">
</head>
<body>
  <div id='maincontent'>
    <h1 class='head'>Check Your Email!</h1>
    <p>For security reasons, please check for email for a 6 digit code, then enter it below.</p>
    <form>
      
      <div class='input-container'>
        <input class='input-element'  placeholder='123456' id='num' autocomplete='off' maxlength='6' />

      </div>
      <button class='actionbut' id='verifybut'>Verify!</button>
    </form>

    <h3 id='noget'><u>Didn't get a code?</u></h3>
    <div id='nocodeinfo'>
      <p class='list'>↳ Wait a couple minutes -- emails may take a bit to arrive.</p>
      <p class='list'>↳ Check your spam or junk folder -- sometimes emails get sent there instead.</p>
      <p class='list'>↳ Reload this page to send another code -- only do this if you don't have a code after 5 minutes so you don't get spammed with emails.</p>
    </div>
  </div>
  <div id='missingperms'>
    <h1 class='head'>Access Denied</h1>
    <p>Sorry, you are missing the permissions required to view this resource!</p>
    <p>Please sign in again!</p>
    <a href='https://oauth.prestonkwei.com/login'><button class='actionbut'>Sign In!</button></a>
  </div>
  <div id='verify'>
    <h1 class='head'>Verifying Your Code</h1>
    <p>Please wait while we verify and authenticate your session!</p>
    <div class='loader'></div>
    <p id='disable'>This is making me dizzy! Disable the animation.</p>
  </div>
  <div id='sucess'>
    <h1 class='white'>Sucess!</h1>
    <img class='statcircle' src='https://cdn.prestonkwei.com/circlewithcheck.png'>
    <p class='pwhite'>You have been sucessfully authenticated! Please wait while we redirect you.</p>
  </div>
  <div id='error'>
    <h1 class='white'>Error!</h1>
    <img class='statcircle' src='https://cdn.prestonkwei.com/circlewithcross.png'>
    <p id='errornote' class='pwhite'>Sorry, we have failed to authenticate you. Please sign in again.</p>
  </div>
  <!-- <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script> -->
  <!-- <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script> -->
</body>
</html>

<script src="./_referrer.js"></script>
