---
import "./style.css"
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Your Password</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins"/>
  <link rel="icon" href="https://cdn.prestonkwei.com/personalwebsitefavicon.png">
</head>
<body>
  
  <!-- <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script> -->
  <!-- <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script> -->
</body>
</html>

<script src="./_reset.js"></script>
