---
import "./style.css"
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Your Password</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins"/>
  <link rel="icon" href="https://cdn.prestonkwei.com/personalwebsitefavicon.png">
  <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script> -->
</head>
<body>
  <div id='main'>
    <div id='prelimtitles'>
      <u><h1 class='h1reset'>Reset Your Password</h1></u>
      <p class='preset'>Forgot your password? Reset it by completing the form below!</p>
    </div>
    <div id='prelim'>
      <form id='emailinputform'>
        <input type='email' id='emailresetbox' placeholder='Account Email Address' required autocomplete='off'>
        <!-- <div class="g-recaptcha" id='captcha' data-sitekey="6LcNVF8pAAAAABOE0DCykNQ-Zmni7UjgDOgDDaxL" background-color='white'></div> -->
        <button type='submit' id='resetbut'>Reset!</button>
      </form>
    </div>
    <div class="loader"></div>
    <div id='emailcheck'>
      <u><h1>Check Your Email!</h1></u>
      <p>We just sent an email to the email address you provided us which contains a link to reset your password. Check your email to find the link!</p>
      <img src='https://cdn.prestonkwei.com/emailicon.png' title='Image of an email' id='emailicon'>
      <p class='notop-p'>You may close this tab now, open the link sent to your email!</p>
    </div>
  </div>
  <div id='reset-content'>
    <u><h1>Pick a New Password</h1></u>
    <form id='newreset-form'>
      <input type='password' placeholder='New Password' class='pwbox' required id='newpw'>
      <input type='password' placeholder='Confirm New Password' class='pwbox' required id='confirmpw'>
      <button type='submit' id='reset-submit'>Reset Password!</button>
    </form>
  </div>
  <!-- <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script> -->
  <!-- <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script> -->
</body>
</html>

<script src="./_reset.js"></script>
