---
import "./style.css"
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Sending...</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins"/>
  <link rel="icon" href="https://cdn.prestonkwei.com/personalwebsitefavicon.png">
  <!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script> -->
  
</head>
<body>
  <p>Your Email is Sending Now</p>
</body>
</html>
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>
<script src="./_reset.js"></script>
